@using CircleSpaceGeneralModels.Enums
@model CircleSpace.Models.EditPageContentContainer

@{
    ViewBag.Title = "Creator";
}
<div class="row row-creator">
    <div class="col-sm-1 creator-controls-col">
        <select class="selector-headers">
            @foreach (var layoutModel in Model.HEADERS)
            {
                if (layoutModel.Type == LayoutTypes.Header)
                {
                    int id = (layoutModel.ID);
                    <option value="@id">
                        @layoutModel.LayoutTitle
                    </option>
                }
            }
        </select>

        <select title="Choose a body..." class="selector-bodies">
            @foreach (var layoutModel in Model.BODIES)
            {
                if (layoutModel.Type == LayoutTypes.Body)
                {
                    int id = (layoutModel.ID);
                    <option value="@id">
                        @layoutModel.LayoutTitle
                    </option>
                }
            }
        </select>

        <select title="Choose a footer..." class="selector-footers">
            @foreach (var layoutModel in Model.FOOTERS)
            {
                if (layoutModel.Type == LayoutTypes.Footer)
                {
                    int id = (layoutModel.ID);

                    <option value="@id">
                        @layoutModel.LayoutTitle
                    </option>
                }
            }
        </select>
        <input type="button" onclick="SavePage()" value="Save Page">
        <div id="save-state-container"></div>
    </div>

    <div id="live-preview-area" class="col-lg-1">
        @{
            var header = new HtmlString(Model.PAGE_TO_EDIT?.Header);
            var body = new HtmlString(Model.PAGE_TO_EDIT?.Body);
            var footer = new HtmlString(Model.PAGE_TO_EDIT?.Footer);
        }
        <div id="headerPreview">@header</div>
        <div id="bodyPreview">@body</div>
        <div id="footerPreview">@footer</div>
    </div>
    <div class="col-sm-1 creator-section-options">
        <div>
            <label>
                Font Color:
                <input id="fontColor" type="color" />
            </label>
            <label>
                Background Color:
                <input id="backgroundColor" type="color" />
            </label>
            <label>
                Margin Left:
                <input id="marginLeft" type="number" />
            </label>
            <label>
                Margin Right:
                <input id="marginRight" type="number" />
            </label>
            <label>
                Margin Top:
                <input id="marginTop" type="number" />
            </label>
            <label>
                Margin Bottom:
                <input id="marginBottom" type="number" />
            </label>
            <label>
                Height:
                <input id="height" type="number" min="0"/>
            </label>
            <label>
                Width:
                <input id="width" type="number" min="0"/>
            </label>
            <label>
                Font Size:
                <input id="fontSize" type="number" min="5"/>
            </label>
            <label>
                Font Weight:
                <input id="fontWeight" type="number" min="100" max="900" step="100"/>
            </label>
            <label id="radioChecks">
                Font Style:
                <select id="fontStyle">
                    <option value="normal">Normal</option>
                    <option value="italic">Italicized</option>
                </select>
            </label>
            <label id="radioChecks">
                Alignment:
                <select id="textAlign">
                    <option value="left">Left</option>
                    <option value="center">Center</option>
                    <option value="right">Right</option>
                </select>
            </label>
            <label>
                Vertical Shift:
                <label><input id="check" type="checkbox">Center</label>
            </label>
            <label id="link">
                Link:
                <input type="text" id="textArea" value=""/>
                <input type="button" id="submitButton" value="Create Link"/>
            </label>
        </div>
    </div>

</div>

@section scripts {
    @Scripts.Render("~/Scripts/creator-script.js")
}